body {
  font-family: "Roboto Flex", serif;
  background-color: #171f2c;
  margin: 0px;
}

header {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 15px 0;
  border-bottom: 1px solid #1e1e1e;
  background-color: black;
}
header img {
  filter: invert(1);
}

nav {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
}

main {
  display: flex;
  justify-content: center;
  /* width: 100vw; */
}

main section {
  width: 100%;
  max-width: 1200px;
}
